* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 40px;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body {
    width: 500px;
    height: 840px;
    background-color: black;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 30px;

}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.equal, .dot, .zero, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
    background-color: #333;
}

.plus, .minus, .multiply, .divide {
    background-color: #F1A33C;
}

.clear, .plusminus, .percent {
    background-color: #a5a5a5;
    color: black;
}

.display {
    grid-area: span 2 / span 4;
    background-color: #333;
    width: 415px;
    height: 120px;
    border-radius: 50px;
    text-align: left;
    line-height: 100px;
    padding: 0 35px;
    line-height: 120px;
}

.zero {
    grid-area: 7 / 1 / 8 / 3;
    width: 200px;
    height: 100px;
    border-radius: 50px;
    text-align: left;
    line-height: 100px;
    padding: 0 35px;
    cursor: pointer;
}

.circle:hover, .elliptic:hover {
    opacity: 50%;
}

footer {
    font-size: 30%;
    position: absolute;
    width: 100%;
    color: black;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    bottom: 5px;
  }


@media screen and (max-width: 550px) {
    .main-body {
        transform: scale(0.6);
    }
}